.img {
    opacity: 0.5;
    filter: grayscale(1);
}
.img:hover {
    opacity: 1.0;
    filter: grayscale(0);
}
.csl-left-margin {
    display: table-cell;
    width: 1%;
}
.csl-right-inline{
	padding-left:10px;
    display: table-cell;
    white-space: normal;
}

label, input {
    display: block;
}

label {
    margin-bottom: 20px;
}

h1.YEAR { font-size: 40px; color: #A94C7B;}

